<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.description | default: site.description }}" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  <footer>
    <p style="text-align:center; font-size:small; margin:2rem 0;">
      &copy; {{ site.time | date: "%Y" }} Iago R. G. Bonifacio. All rights reserved.
    </p>
  </footer>
</body>
</html>
